<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="assets/images/iset.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class=" mb-4 px-3 center">
                       
                            <small class="font-weight-bold text-center">Pas de Compte?  <a class="text-danger " [routerLink]="['/inscrire']">S'incrire</a>
                            </small> 
                       
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Ou</small>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email</h6>
                        </label> <input class="mb-4" type="text" name="email" placeholder="Adresse mail"> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Mot de passe</h6>
                        </label> <input type="password" name="password" placeholder=" Mot de passe"> </div>
                    <div class="row px-3 mb-4">
              <a href="#" class="ml-auto mb-0 text-sm">Mot de passe Oublié?</a>
                    </div>
                    <div class="center mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Se Connecter</button> </div>
                   
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. I.S.E.T Rades.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<script src="assets/vendorlog/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendorlog/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendorlog/bootstrap/js/popper.js"></script>
<script src="assets/vendorlog/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendorlog/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendorlog/daterangepicker/moment.min.js"></script>
<script src="assets/vendorlog/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="assets/vendorlog/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="assets/jslog/main.js"></script>
